* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  /* scroll-padding-top: 80px; */
  scroll-behavior: smooth;
}

/* Header */
header {
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 1; */
  /* width: 100%; */
  /* height: 80px; */
  /* -webkit-backface-visibility: hidden; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;

  background: #CAE8D5;
}

#header-img {
  display: none;
  height: 24px;
}

#menu-button {
  display: block;
  cursor: pointer;
}

#nav-bar {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  left: 0;
  top: 44px;

  background: #CAE8D5;
  padding: 24px 28px;
  box-shadow: 0 4px 8px -8px #1A1A1A;
  display: none;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#nav-menu {
  list-style: none;
}

.nav-link {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #1A1A1A;
}

#get-started {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 92px;
  height: 28px;
  background: #1A1A1A;
  border-radius: 6px;
}

#get-started a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #EFEFEF;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CAE8D5;
}

#hero-title {
  display: block;
  width: 140px;
  height: 31px;
  margin-top: 32px;
}

#hero-subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  color: #1A1A1A;
  margin-top: 12px;
}

#hero-img {
  display: block;
  width: 130px;
  height: 196px;
  margin-top: 34px;
}

#hero-p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  
  margin-top: 34px;
  color: #1A1A1A;
}

#hero-get-started {
  width: 121.53px;
  height: 36.46px;
  margin-top: 35px;
  
  border: none;
  border-radius: 8px;
  background: #1A1A1A;
}

#hero-get-started a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #EFEFEF;
}

#scroll-text-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#scroll-arrow {
  width: 14.81px;
  height: 14.81px;
}

#scroll-text {
  margin-left: 6px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  color: #1A1A1A;
}

/* Features */
#features {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #9EC5C9;
}

#notable-features {
  width: 120px;
  margin-top: 55px;
}

#notable-features + h1 {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  
  letter-spacing: -0.08em;
  color: #1A1A1A;
}

#features-list {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  width: 300px;
  margin-top: 12px;
}

#features-list p {
  margin-top: 8px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  
  color: #1A1A1A;
}

#features-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 110px;
  top: 4px;
  left: -12px;

  background: #1A1A1A;
  border-radius: 5px;
}

#notable-front-rear {
  width: 220px;
  margin-top: 42px;
}

/* How it works */
#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #9EC5C9;
}

#video {
  width: 320px;
  height: 213.33px;
  margin-top: 82px;
  margin-bottom: 96px;

  background: #EFEFEF;
  border-radius: 4px;
}

/* Specs */
#specs {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #3A5361;
}

#specs h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;

  margin-top: 78px;
  margin-bottom: 13px;
  
  color: #EFEFEF;
}

.spec {
  display: flex;
  margin-top: 16px;
  padding-bottom: 16px;
  width: 280px;
}

.spec h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140.62%;
  width: 40%;
  
  color: #EFEFEF;
}

.spec p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  width: 60%;

  color: #EFEFEF;
}

#specs .spec:nth-child(n+2):nth-child(-n+7) {
  border-bottom: 1px solid #EFEFEF;
}

#specs .spec:nth-child(8) {
  margin-bottom: 48px;
}

#get-started-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #9EC5C9;
}

#get-started-form {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140.62%;

  margin-top: 92px;
  
  color: #1A1A1A;
}

#email {
  width: 225.09px;
  height: 37.51px;  

  background: #EFEFEF;
  border: 1px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 6px;

  margin-top: 15px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 15px;

  color: #1A1A1A;
}

#submit {
  width: 225.09px;
  height: 37.51px;
  margin-top: 9px;
  margin-bottom: 90px;
  
  background: #1A1A1A;
  border: none;
  border-radius: 6px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #EFEFEF;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 0 28px;

  background: #252C2C;
}

footer * {
  width: 100%;
  max-width: 320px;
}

#footer-img {
  width: 89.78px;
  height: 19.86px;

  margin-top: 48px;
  margin-bottom: 16px;
}

#footer h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  margin-top: 32px;
  margin-bottom: 10px;
  color: #EFEFEF;
}

#news-link, #legal-link {
  display: flex;
  flex-direction: column;
}

#news-link p a, #legal-link p a{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #EFEFEF;
}

#news-link p,
#legal-link p {
  padding-top: 8px;
}

#copyright-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copyright {
  position: relative;
  margin-top: 76px;
  margin-bottom: 28px;
  
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140.62%;
  text-align: center;

  color: #EFEFEF;
}

#notable-img {
  position: relative;
  width: 47.64px;
  height: 10.54px;
  margin-left: 1px;
}

#registered {
  position: relative;
  width: 9.34px;
  height: 12.14px;
  top: -4px;
  left: -1px;
  padding-right: 0;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 8.40741px;
  line-height: 140.62%;
  color: #EFEFEF;
}
