* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  /* scroll-padding-top: 80px; */
  scroll-behavior: smooth;
}

/* Header */
header {
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 1; */
  /* width: 100%; */
  /* height: 80px; */
  /* -webkit-backface-visibility: hidden; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;

  background: #CAE8D5;
}

#header-img {
  display: none;
  height: 24px;
}

#menu-button {
  display: block;
  position: relative;
  width: 22px;
  height: 1.5px;

  margin: 6px 0;
  
  background: #1A1A1A;
  border-style: none;
  border-radius: 5px;
}

#menu-button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  width: 22px;
  height: 1.5px;
  
  background: #1A1A1A;
  border-style: none;
  border-radius: 5px;
}

#menu-button::after {
  content: '';
  display: block;
  position: relative;
  top: 6px;
  width: 22px;
  height: 1.5px;
  
  background: #1A1A1A;
  border-style: none;
  border-radius: 5px;
}

#nav-bar {
  display: none;
  margin-top: 8px;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  /* width: 327px; */
  /* justify-content: space-between;  */
}

#nav-menu {
  list-style: none;
  /* padding: 29px 0px; */
  font-family: Quicksand, san-serif;
  font-size: 17.075px;
}

.nav-link {
  color: #1A1A1A;
  font-style: normal;
}

#get-started {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 32px;
  background: #1A1A1A;
  border-radius: 6px;
}

#get-started p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #EFEFEF;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 561px;
  background: #CAE8D5;
}

#hero-title {
  display: block;
  width: 140px;
  height: 31px;
  margin-top: 32px;
}

#hero-subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  color: #1A1A1A;
  margin-top: 12px;
}

#hero-img {
  display: block;
  width: 130px;
  height: 196px;
  margin-top: 34px;
}

#hero-p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  
  margin-top: 34px;
  color: #1A1A1A;
}

#hero-get-started {
  width: 121.53px;
  height: 36.46px;
  margin-top: 35px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #EFEFEF;
  
  border: none;
  border-radius: 8px;
  background: #1A1A1A;
}

#scroll-text-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#scroll-arrow {
  width: 14.81px;
  height: 14.81px;
}

#scroll-text {
  margin-left: 6px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  color: #1A1A1A;
}

/* Features */
#features {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 858px;
  background: #84A9AC;
}

#notable-features {
  width: 120px;
  margin-top: 55px;
}

#notable-features + h1 {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  
  letter-spacing: -0.08em;
  color: #1A1A1A;
}

#features-list {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  width: 300px;
  margin-top: 12px;
}

#features-list p {
  margin-top: 8px;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  
  color: #1A1A1A;
}

#features-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 110px;
  top: 4px;
  left: -12px;

  background: #1A1A1A;
  border-radius: 5px;
}

#notable-front-rear {
  width: 220px;
  margin-top: 42px;
}

/* How it works */
#video {
  width: 260px;
  height: 173.33px;
  margin-top: 82px;

  background: #EFEFEF;
  border-radius: 4px;
}

/* Specs */
#specs {
  /* width: 1266px; */
  height: 930px;
  background: #204051;
  border-radius: 10px;
}

div#specs h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;

  color: #EFEFEF;
}

div#specs h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140.62%;

  color: #EFEFEF;
}

div#specs p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;

  color: #EFEFEF;
}

#specs-line {
  display: none;
  /* position: absolute; */
  width: 8px;
  height: 493px;
  /* left: 524px;
  top: 285px; */

  background: #EFEFEF;
  border-radius: 5px;
}

#size {
  /* position: absolute; */
  /* width: 142px; */
  height: 26px;
  /* left: 350px;
  top: 294px; */
}

#processor {
  /* position: absolute; */
  /* width: 90px; */
  height: 26px;
  /* left: 402px;
  top: 365px; */
}

#storage {
  /* position: absolute;
  left: 336px;
  top: 423px; */
}

#connectivity {
  /* position: absolute;
  left: 377px;
  top: 494px; */
}

#battery {
  /* position: absolute;
  left: 426px;
  top: 583px; */
}

#document {
  /* position: absolute;
  left: 324px;
  top: 672px; */
}

#other {
  /* position: absolute;
  left: 441px;
  top: 730px; */
}

div#specs h2#size + p {
  /* position: absolute;
  left: 564px;
  top: 297px; */
  }

div#specs h2#processor + p {
  /* position: absolute;
  left: 564px;
  top: 370px; */
}

div#specs h2#storage + p {
  /* position: absolute;
  left: 564px;
  top: 426px; */
}

div#specs h2#connectivity + p {
  /* position: absolute;
  left: 564px;
  top: 498px; */
}

div#specs h2#battery + p {
  /* position: absolute;
  left: 564px;
  top: 586px; */
}

div#specs h2#document + p {
  /* position: absolute;
  left: 564px;
  top: 677px; */
}

div#specs h2#other + p {
  /* position: absolute;
  left: 564px;
  top: 733px; */
}

#get-started-form {
  /* position: absolute;
  left: 475px;
  top: 2256px; */

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140.62%;

  color: #1A1A1A;
}

#email {
  /* position: absolute; */
  width: 300px;
  height: 50px;
  /* left: 533px;
  top: 2307px; */

  background: #EFEFEF;
  border: 1px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: Quicksand;
  color: #1A1A1A;
  font-size: 15px;
  padding-left: 16px;
}

#submit {
  /* position: absolute; */
  width: 300px;
  height: 50px;
  /* left: 533px;
  top: 2369px; */
  background: #1A1A1A;
  border-radius: 10px;

  font-family: Quicksand;
  font-size: 17.08px;
  color: #EFEFEF;
}

/* Footer */
footer {
  display: relative;
  /* width: 1366px; */
  height: 480px;
  background: #1A1A1A;
}

#footer-img {
  /* position: absolute; */
  width: 108.5px;
  height: 24px;
  /* left: 60px;
  top: 3302px; */
}

#news {
  /* position: absolute; */
  width: 104px;
  height: 23px;
  /* left: 633px;
  top: 3302px; */

  font-family: Quicksand;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #EFEFEF;
}

#legal {
  /* position: absolute; */
  width: 48px;
  height: 23px;
  /* left: 935px;
  top: 3302px; */

  font-family: Quicksand;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #EFEFEF;
}

#news-link {
  /* position: absolute; */
  height: 130px;
  /* left: 633px;
  top: 3343px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: Quicksand;
  font-size: 17.075px;
/*   line-height: 21px; */
  color: #EFEFEF;
}

#legal-link {
  /* position: absolute; */
  height: 184px;
  /* left: 935px;
  top: 3343px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: Quicksand;
  font-size: 17.075px;
  line-height: 21px;
  color: #EFEFEF;
}

#copyright {
  /* position: absolute;
  left: 561px;
  top: 3667px; */

  font-family: Merriweather;
  font-weight: bold;
  font-size: 13px;
  line-height: 140.62%;
  color: #EFEFEF;
}

#copyright-img {
  /* position: absolute; */
  width: 51px;
  height: 11.28px;
  /* left: 615px;
  top: 3669px; */
}

#registered {
  /* position: absolute; */
  width: 10px;
  height: 13px;
  /* left: 666px;
  top: 3667px; */

  font-family: Merriweather;
  font-weight: bold;
  font-size: 9px;
  line-height: 140.62%;
  color: #EFEFEF;
}
