* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  /* scroll-padding-top: 80px; */
  scroll-behavior: smooth;
}

body {
  position: relative;
}

@media (min-width: 576px) {
  .container * {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container * {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* Header */
header {
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 2; */
  /* width: 100%; */
  /* height: 80px; */
  /* -webkit-backface-visibility: hidden; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 16px;
  background: #CAE8D5;
}

@media (min-width: 576px) {
  header {
    padding: 17px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 20px 60px;
  }
}

#header-img {
  display: none;
  height: 24px;
}

@media (min-width: 576px) {
  #header-img {
    display: block;
    width: 90.42px;
    height: 20px;
  }
}

@media (min-width: 768px) {
  #header-img {
    display: block;
    width: 108.5px;
    height: 24px;
  }
}

#menu-button {
  display: block;
  cursor: pointer;
}

@media (min-width: 576px) {
  #menu-button {
    display: none;
  }
}

#nav-bar {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 140px;
  left: 0;
  top: 44px;
  padding: 24px 28px;
  /* box-shadow: 0 4px 8px -8px #1A1A1A; */
  display: none;
  background: #CAE8D5;
}

@media (min-width: 576px) {
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 70px;
    padding: 0;
    background: none;
  }
}

@media (min-width: 768px) {
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 80px;
    padding: 0;
    background: none;
  }
}

#nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (min-width: 576px) {
  #nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: 260px;
    /* -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; */
  }
}

@media (min-width: 768px) {
  #nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: 328px;
    /* -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; */
  }
}

#nav-menu {
  list-style: none;
}

.nav-link {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A1A1A;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 17px;
  }
}

#get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 92px;
  height: 28px;
  background: #1A1A1A;
  border-radius: 6px;
}

@media (min-width: 576px) {
  #get-started {
    width: 121.53px;
    height: 36.46px;
  }
}

@media (min-width: 768px) {
  #get-started {
    width: 140px;
    height: 40px;
  }
}

#get-started a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #EFEFEF;
}

/* Hero */
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #CAE8D5;
}

#hero-title-wrapper {
  grid-area: hero-title-wrapper;
}

#hero-img-wrapper {
  grid-area: hero-img-wrapper;
}

#hero-p-wrapper {
  grid-area: hero-p-wrapper;
}

#hero-get-started-wrapper {
  grid-area: hero-get-started-wrapper;
}

#scroll-text-wrapper {
  grid-area: scroll-text-wrapper;
}

#hero-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 576px) {
  #hero-grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 187px 266px;
        grid-template-columns: 187px 266px;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "hero-img-wrapper hero-title-wrapper" "hero-img-wrapper hero-p-wrapper" "hero-img-wrapper hero-get-started-wrapper" "hero-img-wrapper scroll-text-wrapper";
    -webkit-column-gap: 58px;
            column-gap: 58px;
  }
}

@media (min-width: 768px) {
  #hero-grid-wrapper {
    -ms-grid-columns: 240px 356px;
        grid-template-columns: 240px 356px;
    -webkit-column-gap: calc(16px + 5vw);
            column-gap: calc(16px + 5vw);
  }
}

.hero-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .hero-grid {
    margin: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 576px) {
  .hero-grid {
    margin: 0;
  }
}

@media (min-width: 576px) {
  #hero-img-wrapper * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#hero-title {
  display: block;
  width: 140px;
  height: 31px;
  margin-top: 32px;
}

@media (min-width: 576px) {
  #hero-title {
    width: 219px;
    height: 48px;
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  #hero-title {
    width: 299.28px;
    height: 66.2px;
    margin-top: 132px;
  }
}

#hero-subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A1A1A;
  margin-top: 12px;
}

@media (min-width: 576px) {
  #hero-subtitle {
    margin-top: 15px;
    grid-area: hero-subtitle;
  }
}

@media (min-width: 768px) {
  #hero-subtitle {
    margin-top: 29px;
    font-size: 19px;
    grid-area: hero-subtitle;
  }
}

#hero-img {
  display: block;
  width: 130px;
  height: 196px;
  margin-top: 34px;
}

@media (min-width: 576px) {
  #hero-img {
    position: absolute;
    width: 185px;
    height: 281px;
    margin-top: 62px;
    grid-area: hero-img;
  }
}

@media (min-width: 768px) {
  #hero-img {
    position: absolute;
    width: 240px;
    height: 364px;
    margin-top: 110px;
    grid-area: hero-img;
  }
}

#hero-p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  max-width: 270px;
  margin-top: 34px;
  color: #1A1A1A;
}

@media (min-width: 576px) {
  #hero-p {
    margin-top: 13px;
    grid-area: hero-p;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    text-align: left;
  }
}

@media (min-width: 576px) {
  #hero-p {
    margin-top: 13px;
    font-size: 19px;
  }
}

#hero-get-started {
  width: 121.53px;
  height: 36.46px;
  margin-top: 35px;
  border: none;
  border-radius: 8px;
  background: #1A1A1A;
}

@media (min-width: 576px) {
  #hero-get-started {
    width: 130px;
    height: 39px;
    margin-top: 30px;
    grid-area: hero-get-started;
  }
}

@media (min-width: 768px) {
  #hero-get-started {
    width: 189.72px;
    height: 56.92px;
    margin-top: 25px;
    grid-area: hero-get-started;
  }
}

#hero-get-started a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #EFEFEF;
}

@media (min-width: 768px) {
  #hero-get-started a {
    font-size: 17px;
  }
}

#scroll-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  #scroll-text-container {
    margin-top: 60px;
    margin-bottom: 90px;
    grid-area: scroll-text-container;
  }
}

#scroll-arrow {
  width: 14.81px;
  height: 14.81px;
}

@media (min-width: 768px) {
  #scroll-arrow {
    width: 20px;
    height: 20px;
  }
}

#scroll-text {
  margin-left: 6px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A1A1A;
}

@media (min-width: 768px) {
  #scroll-text {
    font-size: 19px;
  }
}

/* Features */
#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9EC5C9;
}

#notable-features-grid {
  grid-area: notable-features-grid;
}

#features-list-grid {
  grid-area: features-list-grid;
}

#notable-front-rear-grid {
  grid-area: notable-front-rear-grid;
}

#features-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  #features-grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 342px 282px;
        grid-template-columns: 342px 282px;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "notable-features-grid notable-front-rear-grid" "features-list-grid notable-front-rear-grid";
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (min-width: 768px) {
  #features-grid-wrapper {
    -ms-grid-columns: 240px 356px;
        grid-template-columns: 240px 356px;
    -webkit-column-gap: calc(16px + 5vw);
            column-gap: calc(16px + 5vw);
  }
}

#notable-features-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  #notable-features-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#notable-features {
  width: 120px;
  margin-top: 55px;
}

@media (min-width: 576px) {
  #notable-features {
    width: 133.79px;
    height: 29.59px;
    left: 90px;
    margin-top: 110px;
  }
}

#notable-features + h1 {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -0.08em;
  color: #1A1A1A;
}

@media (min-width: 576px) {
  #notable-features + h1 {
    margin-top: 110px;
    margin-left: 12px;
    font-size: 40.2342px;
  }
}

#features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 300px;
  margin-top: 12px;
}

@media (min-width: 576px) {
  #features-list {
    position: relative;
    width: 340px;
    margin-top: -2px;
    left: 26px;
  }
}

@media (min-width: 576px) {
  #features-list * {
    margin: 0;
  }
}

#features-list p {
  margin-top: 8px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  color: #1A1A1A;
}

@media (min-width: 576px) {
  #features-list p {
    font-size: 16px;
    margin-top: 19px;
  }
}

#features-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 110px;
  left: -12px;
  top: 4px;
  background: #1A1A1A;
  border-radius: 5px;
}

@media (min-width: 576px) {
  #features-list::before {
    width: 6.33px;
    height: 150.73px;
    border-radius: 4px;
    left: -18px;
    top: 14px;
  }
}

#notable-front-rear {
  width: 220px;
  margin-top: 42px;
}

@media (min-width: 576px) {
  #notable-front-rear {
    width: 314.25px;
    height: 228.88px;
    margin-top: 68px;
  }
}

/* How it works */
#how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9EC5C9;
}

#video {
  width: 320px;
  height: 213.33px;
  margin-top: 82px;
  margin-bottom: 96px;
  border-radius: 4px;
}

@media (min-width: 576px) {
  #video {
    width: 439.59px;
    height: 293.06px;
    margin-top: 130px;
    margin-bottom: 150px;
    border-radius: 6px;
  }
}

/* Specs */
#specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3A5361;
}

#specs h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 78px;
  margin-bottom: 13px;
  color: #EFEFEF;
}

@media (min-width: 576px) {
  #specs h1 {
    margin-top: 89px;
    margin-bottom: 45px;
    font-size: 32px;
  }
}

.spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding-bottom: 16px;
  width: 280px;
  position: relative;
}

@media (min-width: 576px) {
  .spec {
    width: 420px;
  }
}

.spec h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140.62%;
  width: 40%;
  color: #EFEFEF;
}

.spec p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 60%;
  color: #EFEFEF;
}

#specs .spec:nth-child(3) p,
#specs .spec:nth-child(7) p {
  position: relative;
  top: 3px;
}

#specs .spec:nth-child(n+2):nth-child(-n+7) {
  border-bottom: 1px solid #EFEFEF;
}

#specs .spec:nth-child(8) {
  margin-bottom: 48px;
}

#get-started-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9EC5C9;
}

#get-started-form {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140.62%;
  margin-top: 92px;
  color: #1A1A1A;
}

#email {
  width: 225.09px;
  height: 37.51px;
  background: #EFEFEF;
  border: 1px solid #1A1A1A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-top: 15px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 15px;
  color: #1A1A1A;
}

#submit {
  width: 225.09px;
  height: 37.51px;
  margin-top: 9px;
  margin-bottom: 90px;
  background: #1A1A1A;
  border: none;
  border-radius: 6px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #EFEFEF;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 28px;
  background: #252C2C;
}

footer * {
  width: 100%;
  max-width: 320px;
}

#footer-img {
  width: 89.78px;
  height: 19.86px;
  margin-top: 48px;
  margin-bottom: 16px;
}

#footer h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #EFEFEF;
}

#news-link, #legal-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#news-link p a, #legal-link p a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #EFEFEF;
}

#news-link p,
#legal-link p {
  padding-top: 8px;
}

#copyright-container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#copyright {
  position: relative;
  margin-top: 76px;
  margin-bottom: 28px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140.62%;
  text-align: center;
  color: #EFEFEF;
}

#notable-img {
  position: relative;
  width: 47.64px;
  height: 10.54px;
  margin-left: 1px;
}

#registered {
  position: relative;
  width: 9.34px;
  height: 12.14px;
  top: -4px;
  left: -1px;
  padding-right: 0;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 8.40741px;
  line-height: 140.62%;
  color: #EFEFEF;
}
/*# sourceMappingURL=style.css.map */